# ignore all local thumbnails and mounted output
static/output/
static/thumbs/
static/thumbs_large/
# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
venv/
env/
.venv/

# IDE files
.vscode/
*.swp

# macOS
.DS_Store

# debug helper, not needed in repo
debug.py
