<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}GOES-19 Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<header style="font-size: 2.5rem; padding: 1rem; font-weight: bold;">
    Blue Marble 🛰️
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>


  {# Here’s where per-page scripts go #}
  {% block scripts %}{% endblock %}
</body>
</html>
