<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}" />
</head>
<body>
<nav class="navbar">
  <ul class="menu">
    <li class="menu-item"><a href="/">🏠 Home</a></li>
    <li><a href="/astro">🔭 Astrophotography</a></li>
    <li>
      <a href="/satellites">🛰️ Satellites</a>
      <ul class="submenu">
        <li><a href="/goes">🌍 GOES-19 Dashboard</a></li>
        <li class="coming-soon">❄️ NOAA <span class="badge">Coming Soon</span></li>
        <li class="coming-soon">☀️ Meteosat <span class="badge">Coming Soon</span></li>
      </ul>
    </li>
  </ul>
</nav>
<main>
  <div class="basic-page">
    <p>Coming Soon!</p>
  </div>
</main>
<!-- Page content -->
</body>
</html>
